<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>

    html, body {
      background: #242424;;
      display: flex;
      width: 100%;
      height: auto;
      align-items: center;
      justify-content: center;
    }

    .login-form {
            width: 350px;
            height: auto;
    }
    
    </style>
</head>
<body class="h-vh-100">
  <form class="login-form bg-white p-6 mx-auto border bd-default win-shadow"
        data-role="validator"
        action="javascript:"
        data-clear-invalid="2000"
        data-on-error-form="invalidForm"
        data-on-validate-form="validateregForm"
        id="registrationjs"
        style="display: none;">
          <span id="linuxjs" class="mif-linux mif-6x place-right" style="margin-top: 5px; right: 1%;"></span>
          <h2 class="text-light"> 02Plus </h2>
          <hr class="thin mt-4 mb-4 bg-white">
          <div class="form-group">
            <input type="text" data-role="input" data-prepend="<span class='mif-user'>" placeholder="Username" data-validate="required minlength=5" name="username">
            <span class="invalid_feedback"> Username must be 5 char long </span>
          </div>
          <div class="form-group">
            <input type="text" data-role="input" data-prepend="<span class='mif-envelop'>" placeholder="Email" data-validate="required email" name="email">
            <span class="invalid_feedback"> Input correct email address </span>
          </div>
          <div class="form-group">
            <input type="text" data-role="input" data-prepend="<span class='mif-phone'>" placeholder="Phone Number" data-validate="required digits minlength=10 maxlength=10" name="phonenumber">
            <span class="invalid_feedback"> Input correct Phone Number </span>
          </div>
          <div class="form-group">
            <input type="password" data-role="input" data-prepend="<span class='mif-key'>" placeholder="Password" data-validate="required minlength=8" name="password">
            <span class="invalid_feedback"> Password must be 8 char long </span>
          </div>
          <div class="form-group">
            <input type="password" data-role="input" data-prepend="<span class='mif-key'>" placeholder=" Repeat Password" data-validate="required minlength=8 compare=password" name="pass2">
            <span class="invalid_feedback"> Password must match</span>
          </div>
          <div class="form-group">
            <select data-role="select" name="branch">
              <option value="ce">Civil Engg</option>
              <option value="ch">Chemical Engg</option>
              <option value="cs">Computer Engg</option>
              <option value="ec">Electronics Engg</option>
              <option value="ee">Electrical Engg</option>
              <option value="in">Instrumentation Engg</option>
              <option value="me">Mechanical Engg</option>
            </select>
          </div>
          <p style="text-align: center; font-size:.9em; color:#ce352c; display: none;" id="dupuserjs"> Duplicate username found !!! </p>
          <p style="text-align: center; font-size:.9em; color:#ce352c; display: none;" id="dupdevjs"> Duplicate device found !!! </p>
          <p style="text-align: center; font-size:.9em; color:#ce352c; display: none;" id="dupphonejs"> Duplicate phone or email found !!! </p>
          <p style="text-align: center; font-size:.9em; color:#ce352c; display: none;" id="serverissueloginjs"> Server issue, Please try again !!! </p>
          <div class="form-group mt-10">
            <input type="checkbox" data-role="checkbox" data-caption="Remember me" class="place-right">
            <button type="submit" class="button">Register</button>
          </div>
          <p class="text-light" style="text-align: center;">Already have an account? <a href="javascript:regjs();">Sign In</a>.</p>
          <p class="text-light" style="text-align: center;">Want to check lectures as Guest? <a href="javascript:regjs();">Continue</a>.</p>
  </form>

  <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
  <script>
    $(window).bind("load", function() {
      $("#registrationjs").delay(100).fadeIn(1000);
    })
  </script>
</body>
</html>